@import "../../styles/variables.scss";

$transform-default: translate(-50%, -50%);
$transition-default: 1.3s;

@mixin absolute-center($y-percentage: -50%) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, $y-percentage);
}

@mixin gradient-background {
	background: linear-gradient(
		271deg,
		#a0e9ff 30%,
		#a162e8 50%,
		#f093b0 70%,
		#edca85 94%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.project_card {
	position: relative;
	align-items: normal;
	background-color: #191919;
	width: 90%;
	margin: 1em 1em 3em;
	padding: 1.3em;
	gap: 1em;
	min-height: 300px;
	max-width: calc(100% - 40px);
	transition: 1s;
	box-shadow: $box-shadow;
	opacity: 0;
	border-radius: 0.7em;
	overflow: hidden;

	@media (width >= 768px) {
		padding: 1.8em;
		max-width: 1000px;
		min-height: 500px;
	}

	@media (width >= 1024px) {
		min-height: 600px;
	}

	&:hover,
	&:focus {
		box-shadow: 10px 10px 40px black;
		scale: 1.02;

		.project_image_container {
			transform: translate(-50%, -320%);
			scale: 0.3;
		}

		.project_info h2,
		.project_info h3,
		.project_desc {
			opacity: 1;
		}

		.project_icons {
			opacity: 0.6;
		}

		.project_info h2 {
			@include gradient-background;
		}

		.project_context_icon {
			opacity: 0;
		}
	}

	.project_context_icon {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		opacity: 0.4;
		transition: 500ms ease-in-out;
		filter: invert(1);

		@media (width >= 768px) {
			width: 30px;
		}

		@media (width >= 1024px) {
			width: 40px;
		}
	}

	.project_image_container {
		@include absolute-center;
		width: 90%;
		max-width: 380px;
		z-index: 2;
		transition: $transition-default;
		filter: drop-shadow($text-shadow);

		@media (width >= 768px) {
			max-width: 580px;
		}
		@media (width >= 1024px) {
			max-width: 680px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.project_info {
		h2,
		h3 {
			opacity: 0;
			transition: $transition-default;
		}

		h2 {
			font-family: "Bogart";
			font-size: 1.25rem;
			@media (width >= 768px) {
				font-size: 2rem;
			}
			@media (width >= 1024px) {
				font-size: 2.4rem;
			}
		}

		h3 {
			font-size: 0.9rem;
			@media (width >= 768px) {
				font-size: 1.5rem;
			}
		}
	}

	.project_info_bottom {
		@include absolute-center(-30%);
		width: 90%;
	}

	.project_icons {
		opacity: 0;
		transition: $transition-default;
		font-size: 1.3rem;
		justify-self: flex-start;
		margin-right: 0.6em;

		&:hover {
			opacity: 1;
		}

		@media (width >= 768px) {
			font-size: 2rem;
		}
	}

	.project_desc {
		text-align: center;
		opacity: 0;
		transition: $transition-default;
		font-size: 0.8rem;

		@media (width >= 768px) {
			font-size: 1.5rem;
		}

		@media (width >= 1024px) {
			font-size: 2rem;
			max-width: 80%;
			margin: 0 auto;
		}
	}

	.project_stack {
		position: absolute;
		bottom: 20px;
		font-size: 0.7rem;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		opacity: 0.8;

		@media (width >= 768px) {
			bottom: 30px;
			font-size: 1rem;
		}

		@media (width >= 1024px) {
			font-size: 1.3rem;
			max-width: 80%;
			margin: 0 auto;
		}
	}
}
